extends ../main/main.jade

block main
  form#book-form(
    name="book_form")

    h1(
      ng-if="::book.id",
      ng-bind="book.title || lang.book_form.title_edit")
    h1(
      ng-if="::!book.id",
      ng-bind="::lang.book_form.title_new")


    .control-group
      .title-container
        label(for="title")
          span(ng-bind="::lang.book_form.book_title")
          span.required-mark *
        input.full-width(
          name="title",
          input-required,
          ng-model="book.title")

    .control-group
      .author-container
        label(for="author")
          span(ng-bind="::lang.book_form.author")
          span.required-mark *
        input.full-width(
          name="author",
          input-required,
          ng-model="book.author")

    .control-group
      .genre-container
        label(
          for="genre",
          ng-bind="::lang.book_form.genre")
        input(
          name="genre",
          ng-model="book.genre")

    .control-group
      label(
        for="description",
        ng-bind="::lang.book_form.description")
      textarea.full-width(
        name="description",
        ng-model="book.description")

    button(
      ng-click="save()",
      ng-bind="::lang.book_form.save")
